.headerWrap {
    height: 40px;
    width: 100vw;
    max-width: 1920px;
    color: #ddd;
    padding: 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    position: fixed;
    top: 0;
    background-color: rgba(16, 16, 16, 0.6);
    box-shadow: 0px 0px 30px 30px rgba(16, 16, 16, 0.6);
    z-index: 50;
}

.hide {
    top: -60px;
}

.show {
    top: 0px;
}

.headerLogo img {
    height: 3rem;
    position: fixed;
    top: 1rem;
}

.headerNav {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.headerNavItem {
    cursor: pointer;
    transition: 0.2s;
}

.headerNavItem:hover {
    transform: scale(1.1);
}

@media (max-width: 1023px) {
    .headerWrap {       
        position: relative;
        height: 2rem;
        width: 100vw;
        display: flex;
        align-items: center;
        z-index: 50;
    }
    .headerNav {
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 3.5rem;
        padding: 1rem 5% 1vh;
        display: flex;
        background-color: rgba(16, 16, 16, 0.9);
        justify-content: space-evenly;
        font-weight: 600;
    }
    .hide {
        top: 0px;
    }
    
    .show {
        top: 0px;
    }

    .headerLogo {
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .headerLogo img {
        position: absolute;
        height: 2rem;
        top: 1rem;
    }

    .headerNavItem:hover {
        transform:none;
    }

    
}