.wrap {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 350px;
}

.imageWrap {
    display: flex;
}

.image {
    position: absolute;
    border-radius: 1rem;
    top: 0;
    left: 0;
    width: 46%;
    max-width: 500px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    background-color: #111;
    opacity: 0;
    transition: 100ms opacity ease-in-out;

}

.imageTwo {
    left: 50%;
}

.activeImage {
    opacity: 1;
}

.buttonWrap {
    display: flex;
    position: absolute;
    top: 15rem;
    left: 0;
    justify-content: space-between;
}

.button {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: .85rem;
    background-color: rgba(221, 221, 221, 0.2);
    background-image: url('../../images/svg/arrowRight.svg');
    background-repeat: no-repeat;
    transition: 0.2s;
    border: none;
}

.button:hover {
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
}

.button:active {
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.1);
}

.buttonBack {
    transform: rotate(180deg);
}

@media (max-width: 1023px) {
    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 300px;
        padding: 1rem 1rem;
    }

    .image {
        width: 45%;
        margin: 0 auto;
        max-width: 400px;
    }

    .imageWrap {
        display: flex;
        justify-content: space-around;
        padding: 0 1rem;
    }

    .imageTwo {
        left: 50%;
    }

    .buttonWrap {
        display: flex;
        position: absolute;
        left: auto;
        top: 14rem;
        width: 150px;
        justify-content: space-between;
    }

    .button {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border-radius: .85rem;
        background-color: rgba(221, 221, 221, 0.2);
        background-image: url('../../images/svg/arrowRight.svg');
        background-repeat: no-repeat;
        transition: 0.2s;
        border: none;
        margin: 0;
    }

    .button:hover {
        box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
    }

    .button:active {
        box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.1);
    }

    .buttonBack {
        transform: rotate(180deg);
        margin: 0;
    }

}